.bg{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #4b3cd1;
    background: radial-gradient(circle, #428aad, #3e3cd4);
}
  .pic {
    height:100px;
    width:100px;
  }

  h1{
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
  }
  
  